APIFlask==2.2.1
apispec==6.7.1
blinker==1.9.0
click==8.1.7
coloredlogs==15.0.1
Flask==3.1.0
Flask-HTTPAuth==4.8.0
flask-marshmallow==1.2.1
flatbuffers==24.3.25
humanfriendly==10.0
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
MarkupSafe==3.0.2
marshmallow==3.23.1
mpmath==1.3.0
numpy==2.1.3
onnxruntime==1.20.0
packaging==24.2
protobuf==5.28.3
python-dotenv==1.0.1
scipy==1.14.1
sympy==1.13.3
threadpoolctl==3.5.0
webargs==8.6.0
Werkzeug==3.1.3
